{%extends 'base.html'%}

{%block content%}
    <div id='chat_message'>
        {%include "a_chat/partials/chat_message.html"%}
    </div>
    <form
        class="chat_message_form d-flex"
        hx-ext='ws'
        ws-connect='/ws/chatroom/public-chat'
        ws-send
        htmx:wsAfterSend="detail.message">
        {%csrf_token%}

        {{chat_form.body}}
        <button type='submit'>post</button>
    </form>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const chatMessageContainer = document.getElementById('chat_message');
            if (chatMessageContainer) {
                chatMessageContainer.scrollTop = chatMessageContainer.scrollHeight;
            }
        });

        

        document.body.addEventListener('htmx:wsAfterMessage', function(event) {
            const messageDetail = event.detail.message;
            console.log(event)
    
            const messageElement = document.createElement('div');
            messageElement.innerHTML = messageDetail;
    
            const chatMessageContainer = document.getElementById('chat_message');
            chatMessageContainer.appendChild(messageElement);
    
            chatMessageContainer.scrollTop = chatMessageContainer.scrollHeight;

            //clear text area input
            document.getElementById('id_body').value = "";

        });
    
    </script>
    

<style>
    #chat_message{
        width: 100%;
        height: calc(100% - 70px);
        overflow-y: scroll;
        overflow-x: auto;
    }
    .chat_message_form{
        height: 70px;
        width: 100%;
    }

    .chat_message_form textarea{
        width: 100%;
        resize: none;
    }
</style>
{%endblock%}

